/* styles.css */
@keyframes slideInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-containers {
  animation: slideInfinite 10s linear infinite;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-containers::-webkit-scrollbar {
  display: none;
}
